<!DOCTYPE html>
<html>
<head><link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
	<title>
		FitMe | Tracker
	</title>


</head>

<link rel="stylesheet" type="text/css" href="../css/fit-past.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Homemade+Apple|Poiret+One|Sacramento|Satisfy" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Carrois+Gothic+SC|Cinzel+Decorative|Gruppo|Julius+Sans+One|Nixie+One|Nunito+Sans|Poppins" rel="stylesheet">



<body>
	<div class="main">

	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    FitMe
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="/goal">My Tracker</a></li>
	    <li><a href="/history">My History</a></li>
	  
	    <li role="separator" class="divider"></li>
	    <li><a href="/logout">Log Out</a></li>
	  </ul>
	</div>
		 
		 <div id="title"> Fitness History <br><small>Here is your past week of fitness habits: </small></div>
		 <div class="row">
		 	<div class="col-lg-2"> <b>Day 1</b> 
		 	<div class="text">Closed out at: <br>1984/2035 Cal</div>
		 	</div>
		 	<div class="col-lg-2"> Day 2
		 	<div class="text">Closed out at: <br>1790/2035 Cal</div>
		 	</div>
		 	<div class="col-lg-2"> Day 3
		 	<div class="text">Closed out at: <br>2003/2035 Cal</div>
		 	</div>
		 	<div class="col-lg-2">Day 4
		 	<div class="text">Closed out at: <br>2200/2035 Cal</div>
		 	</div>
		 	<div class="col-lg-2">Day 5
		 	<div class="text">Closed out at: <br>2130/2035 Cal</div>
		 	</div>
		 	<div class="col-lg-2">Day 6
		 	<div class="text">Closed out at: <br>1980/2035 Cal</div>
		 	</div>
		 </div>
	</div>

<div class="quote">
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - Site Built By FitMe Team
           <a href="#" target="_blank" >Learn About Us</a>
      </p>
      
      <a href="http://facebook.com" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Share on Facebook</a>
    </div>
    
    
  </div>
			
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="../js/fit-past.js"></script>

</body>
</html>