<!DOCTYPE html>
<html>
<head><link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
	<title>
		FitMe | Me
	</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/my-fitness.css">
<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Carrois+Gothic+SC|Cinzel+Decorative|Gruppo|Julius+Sans+One|Nixie+One|Nunito+Sans|Poppins" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

	<div id="arrow-down">2030cal</div>
	
	
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    FitMe
	  <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="/goal">My Tracker</a></li>
	    <li><a href="/history">My History</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="/logout">Log Out</a></li>
	  </ul>
	</div>
		 
		 <div id="title">Your Fitness Goal<br>
		 <small>Let's do the math</small>
		 </div>

		 <div class="container col-lg-12" id="eatForms">
		 <div class="stuff">
		 	<div class="col-lg-12">Enter in your calories eaten:
		 		<form id="calInput">
		 			<input class="form-control calEaten" type="number" value="0">
		 		</form>  <small> or</small>
		 		<form id="calInput">
		 			<input class="form-control" type="text" value="Enter Food" id="example-number-input">
		 		</form>
		 		<button type="button" class="btn btn-danger" id="myBtn"> Add to my total!
		 		</button>
		 	</div>
		 </div>
		 </div>
		 
		 <div class="container col-lg-12" id="burnForms">
		 <div class="stuff">
		 	<div class="col-lg-12" id="calBurned">Enter in your calories burned:
				<form id="formBurned">
		 			<input class="form-control" type="number" value="0" id="example-number-input">
		 		</form> 
		 		<button type="button" class="btn btn-danger" id="myBtn2">Subtract from my total!
		 		</button>
		 	</div>
		 </div>
		<p>Total Fitness Number: </p>
		<div class="total" id="numberDiv" value="0"> </div>
		 </div> 
		  
		<div class="row col-lg-12" id="close">
		<button type="button" class="btn btn-danger btn-lg">Close Out for the Day</button> 
		</div>

		<div id="myModal" class="modal">
			  <div class="modal-content">
			    <span class="close">&times;</span>
			    <p>Great work! These calories have been added to your total.</p>
			  </div>
		</div>
		
		<div id="myModal2" class="modal">
			<div class="modal-content">
			    <span class="close2">&times;</span>
			    <p>Feelin the burn! These calories were cut from your total.</p>
			 </div>
		</div>

	<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - Site Built By FitMe Team
           <a href="#" target="_blank">Learn About Us</a>
      </p>
      <a href="http://facebook.com" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Share on Facebook</a>
    </div>
    </div>
    
		

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="../js/my-fitness.js"></script>

</body>
</html>