<!DOCTYPE html>
<html>
 
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
 
<body>

    <form id="signup" name="signup" method="post" action="/signup">
    <ul>
        <label for="UserName">User Name</label>
        <input class="UserName" name="UserName" type="text" />

        <label for="Password">Password</label>
        <input class="pw" name="Password" type="password" />

        <label for="height">Height</label>
        <input class="height" name="height" type="text" />

        <label for="cWeight">Current Weight</label>
        <input class="cWeight" name="cWeight" type="text" />

        <label for="gWeight">Goal Weight</label>
        <input class="gWeight" name="gWeight" type="text" />
   
        <input class="btn" type="submit" value="Sign Up" id="signupSub" />
     <ul>
    </form>


    <script type="text/javascript">
    $(document).on("submit", "#signup", signUpForm);
        function updateUsers(){
            $.get("/api/dashboard/user/postUser", function(){
                console.log("signup", data);
                signup = data;
            })
        }
        function signUpForm(){
            console.log("on click sub works")
       
       event.preventDefault();
         var signup = {
         UserName: $("input.UserName").val().trim(),
+        Password: $("input.pw").val().trim(),
         height: $("input.height").val().trim(),
         cWeight: $("input.cWeight").val().trim(),
         gWeight: $("input.gWeight").val().trim()
         }

            console.log(signup);
            $.post("/signup", signup, function(req, res) {
            console.log(arguments)
       		}) 
 
        
    };
    
    </script>
 
</body>
 
</html>