body {
		background-color: #e91e63;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-image: url("");
}

#arrow-down {
	   	width: 200px; 
	    height: 100; 
	    border-left: 200px solid transparent;
	    border-bottom: 200px;
	    border-right: 200px solid transparent;
	    border-top: 200px solid #ef5350;
	    font-size: 40px;
	    display: inline-block;
	    position: fixed;
	    opacity: .8;
	    z-index: -1;
	    margin-left: 50px;
	    font-family: 'Poppins', sans-serif;
  

}

#main {
		background-color: #ffb74d;
		width: 100%;
		height: 100%;
}

#title {
		font-size: 60px;
		text-align: center;
		font-family: 'Poppins', sans-serif;
	
}
#title > small {
		font-size: 30px;
}

#eatForms {
	
		display: inline-block;
		font-size: 30px;
		margin-top: 130px;
		height: 100px;
		margin-bottom: 60px;
}
#burnForms {
	
		display: inline-block;
		font-size: 30px;
		height: 100px;
		margin-top: 20px;

}
.stuff {
		height: 200px;
		margin: auto;
		width: 75%; 
		border: 1px solid #ccc;
		border-radius: 70px;
}
form {
		width: 120px;
		display: inline-block;
		margin-left: 30px; 
		padding-top: 40px;
}
#formBurned {
		width: 120px;
		display: inline-block;
		margin-left: 10px; 
}

#calBurned {
		padding-top: 40px;
		padding-left: 40px;
}
#calEaten {
		padding-top: 30px;
		padding-left: 40px;
}
p {
		margin-top: 30px;
		margin-bottom: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
}

.dropdown {
	position:absolute;
	margin-left: 85%;
	padding-top: 30px;
    top:0px;
    right:0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-color: #ef5350;
    
}
#close {
	margin-top: 220px;
	padding-bottom: 100px;
	margin-left: 42%;
	font-size: 45px;
	border-radius: 25px;

}
#close2 {
	margin-top: 200px;
	padding-bottom: 100px;
	margin-left: 42%;
	font-size: 45px;
	border-radius: 25px;

}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    color: #ef5350;
    font-size: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.total {
	text-align: center;
}

